*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {margin: 20px; font-size: 10px}


.content {background-color: #e9e9e9; color: #656565; padding: 10px; border-radius: 10px;}


.header {overflow: hidden; margin: 5px 0 5px 10px}
.header p {margin:0 0 0 15px; float: left; font-size: 16px; font-weight: bold;}

.btn-group .btn {
	border:1px solid #a6a6a6; float: left; height: 16px; outline: none; padding: 2px 5px; border-radius: 50px;

	background: -webkit-linear-gradient(#f4f4f4, #dedede);
	background: -moz-linear-gradient(#f4f4f4, #dedede);
	background: linear-gradient(#f4f4f4, #dedede);

	
}

.btn-group .btn:active {-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-group .btn+.btn {margin-left:-1px;}

.btn-group .btn:first-child {border-top-right-radius:0; border-bottom-right-radius:0;}
.btn-group .btn:last-child {border-top-left-radius:0; border-bottom-left-radius:0;}
.btn-group .btn:not(:first-child):not(:last-child) {border-radius: 0}


.agenda {overflow:hidden}

ul.day-list {border:1px solid #e9e9e9; float:left; min-width:35px; margin: 0 5px 0 0; padding: 0; text-align: right}
ul.day-list li {list-style: none; border-top: 1px solid #e9e9e9; height: 50px}
ul.day-list li:first-child {margin-top:-7px}

ul.day-list li span {position: relative; top: -7px}
ul.day-list li:first-child span {top: 8px}

ul.point-list {border:1px solid #c8c8c8; background-color: #f3f3f3; margin:0; padding: 0; width:auto; overflow:hidden}
ul.point-list li {list-style: none; border-top: 1px solid #c8c8c8; height: 50px; background: url(../img/splitter.gif) repeat-x}
ul.point-list li:first-child {border-bottom:1px solid #c8c8c8; border-top: 0; height: 29px; margin:-7px 0 21px 0}

ul.point-list li .point {
	height:50px; display: inline-block; padding:1px; position: relative; width: 100%;

	background: -webkit-linear-gradient(#acc6d9, #8cb0cb);
	background: -moz-linear-gradient(#acc6d9, #8cb0cb);
	background: linear-gradient(#acc6d9, #8cb0cb);

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#acc6d9', endColorstr='#8cb0cb', GradientType=0)";
}
ul.point-list li:first-child .point {height: 18px; margin-top: 7px}
ul.point-list li .point .point-content {border:1px solid #bacfdf; height:100%}
ul.point-list li .point .icon-bell {position: absolute; bottom: 4px; right: 5px}


.sprite {background: url(../img/sprite.png) no-repeat; display: inline-block;}
.sprite.icon-previous {background-position: -20px -20px; width: 6px; height: 9px;}
.sprite.icon-lozenge {background-position: -46px -20px; width: 8px; height: 9px;}
.sprite.icon-next {background-position: -74px -20px; width: 6px; height: 9px;}
.sprite.icon-bell {background-position: -100px -20px; width: 10px; height: 10px;}